@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
}
img{
  max-width: 100%;
  height: auto;
}
body{
  height : 100vh;
  background-color: #2B3233;
  box-sizing: border-box;
  color:aliceblue;
}
.titulo_destaque{
  color: #16F4F7;
}
span{
  color: #16F4F7;
  border: 1px solid #16F4F7;
  padding: 4px;
}
.apresentacao_conteudo_geral{
  width: 615px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-right: 40px;
}
.apresentacao{
  margin: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.apresentacao_conteudo_titulo{
  font-size: 36px;
  font-family: 'Krona One', sans-serif;
}
.apresentacao_conteudo_texto{
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
}
.apresentacao_links{
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.apresentacao_botao{
  background-color: #16F4F7;
  width: 280px;
  text-align: center;
  border-radius: 16px;
  font-size: 24px;
  padding: 21.5px 0;
  /*primeiro valor é o padding top e bottom, segundo valor é o padding left e right*/
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: #2B3233;
}
